@import url('https://fonts.googleapis.com/css?family=Baumans');

#header_title{
    font-family: 'Baumans';
    font-size: 33px;
    text-align: center;
    color:#e9c46a;
    background-color: #2a9d8f;

}


#header_title {
    background-image: url();
}


.navbar{
    float: none;
    padding: none;
    text-decoration: underline;
    position: fixed;
    width:200px;
    text-align: center;
    margin:0;
    font-family: 'Baumans';
    overflow:auto;
    height: 100%;
    background-color: #e9c46a;
      
}

.navbar> a{
    color:#2a9d8f ;
    display: block;
    padding: 16px;
    text-decoration: none;
               
}
nav > a:hover{
    color:bisque;
}

@media screen and (max-width: 700px) {
    .navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .navbar a {float: left;}
    div.wholepage {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .navbar a {
      text-align: center;
      float: none;
    }
}

section.wholepage{
    margin-left: 200px; /* to allow for sidebar */
    padding: 1px 16px;
    height: 100%;
}


body{
    background-color:#2a9d8f ;
}

.page-text{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: 'Baumans';
    padding-left: 200px;
    background-color: #e9c46a;
    color: #2a9d8f;

}

@media screen and (max-width:400px) {
    .page-text {
        width:30%;
    }
}

.photo-gallery-banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-left: 200px;

}



.gallery-banner{
    display:flex;
    flex-wrap: wrap;

}

.gallery-banner img {
    width: 100%;
    padding: 1rem;
}

@media screen and (max-width:400px) {
    .gallery-banner img {
        width:calc(100% / 3);
    }
}

.final{
    margin-bottom: 200px;
}

footer{
    background-color:#e9c46a;
    font-family: 'Baumans';
    padding: 2em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}