@import url('https://fonts.googleapis.com/css?family=Baumans');

header{
    font-family: 'Baumans';
    font-size: 33px;
    text-align: center;
    color:#e9c46a;

}

header ~ div {
    background-color: #2a9d8f;
    
}

.navbar{
    float: none;
    padding: 1em;
    text-decoration: underline;
    position: relative;
    width:max-content;
    text-align: center;
    margin: auto;

}

nav> a{
    color:#e9c46a;
    font-weight: bold;
    font-size: 1.3em;
    
}
nav > a:hover{
    color:bisque ;
}

body{
    background-color:#2a9d8f ;
}

footer{
    background-color:#e9c46a;
    font-family: 'Baumans'
    padding: 2em;
	text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}
