@import url('https://fonts.googleapis.com/css?family=Baumans');
#header_title{
    font-family: 'Baumans';
    font-size: 2rem;
    text-align: center;
    color:#e9c46a;
    background-color: #2a9d8f;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar{
    float: none;
    padding: none;
    position: fixed;
    width:200px;
    text-align: center;
    margin-top:9%;
    font-family: 'Baumans';
    overflow:auto;
    height: 100%;
    background-color: #e9c46a;
      
}
.navbar> a{
    color:#2a9d8f ;
    display: block;
    padding: 1rem;
    text-decoration: none;
    font-size: 2.2rem;   
}
nav > a:hover{
    color:bisque;
}
section.wholepage{
    margin-left: 200px; /* to allow for sidebar */
    padding: 1px 16px;
    height: 100%;
}
body{
    background-color:#2a9d8f;
    margin: 0;
    
}
.page-text{
    margin: 0 auto;
    width: 83%;
    text-align: center;
    font-family: 'Baumans';
    
    background-color: #e9c46a;
    color: #2a9d8f;
}
.photo-gallery-banner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-left: 200px;
}
.gallery-banner{
    display:flex;
    flex-wrap: wrap;
    margin-left: 200px;
}
.gallery-banner img {
    width: 100%;
    padding: 1rem;
}
.final{
    margin-bottom: 200px;
}
footer{
    background-color:#e9c46a;
    font-family: 'Baumans';
    padding: 2em;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
}


.caption-text {
    color:#e9c46a;
    font-family: 'Baumans';
    font-weight: bold;
}
@media screen and (max-width:390px) {
    .gallery-banner img {
        width:calc(100% / 3);
    }
    .page-text {
        width: 100%;
    }
    .navbar a {
      text-align: center;
      float: none;
    }
    body {width:100%;}
    .conatct-form .col-80, .row-5, input[type=submit] {
        width:100%;
        margin-top: 0;
        padding-left: 0;
    }
    .page-text{
        padding-left: 0px;
        width: 100%;
    }
    .wholepage{
        padding-left: 0%;
        width:100%;
    }
}

@media screen and (max-width:414px) {
    .gallery-banner img {
        width:calc(100%);
    }
    .page-text {
        width:100%;

    }
    .navbar a {
      text-align: center;
      float: none;
    }
    .wholepage {width:100%;}
    footer{width:80%;}
    .page-text{
        padding-left: 0%;
        width: 100%;
    }
    .conatct-form .col-80, .row-5, input[type=submit] {
        width:100%;
        margin-top: 0;
        padding-left: 0;
    }

}
@media screen and (max-width: 700px) {
    .navbar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .navbar a {float: left;}
    div.wholepage {margin-left: 0;}
    .gallery-banner {
        margin-left: 0;
    }
}